.header-section {
  height: auto;
  width: 100%;
  background-color: $primary-color;
  display: grid;
  grid-template-columns: 70% 30%;
  top: 0px;
  position: absolute;

  .name-role-container {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .under {
      font-size: $title-text-size;
      font-weight: 800;
      color: $light-color;
      top: 10px;
      animation: under-blink 0.5s;
      animation-iteration-count: 4;
      opacity: 0;
    }

    @keyframes under-blink {
      0% {
        opacity: 1;
        background-color: $light-color;
      }

      100% {
        opacity: 0;
        color: $light-color;
      }
    }

    .letter,
    .letter-role {
      font-size: $title-text-size;
      font-weight: 700;
      color: $light-color;
      position: relative;
      opacity: 0;
      animation: move-text 0.1s forwards;
      font-family: "Bungee";
      display: inline-block;
      line-height: 30px;
    }

    .letter-role {
      font-family: "Bungee Hairline";
    }

    @keyframes move-text {
      0% {
        opacity: 0;
        background-color: $light-color;
      }

      50% {
        background-color: $light-color;
      }

      100% {
        opacity: 1;
        color: $light-color;
      }
    }
  }
  .hamburger-container {
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }

  .menu-mobile-open {
    padding: 10px;
    font-size: 20px;
    color: $light-color;
    border-top: 1px solid $light-color;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-around;
    
  }

  .menu-mobile-open h5:hover {
    cursor: pointer;
  }

  .page-menu-container {
    .page-menu-item {
      display: flex;
      justify-content: center;

      .home,
      .projects,
      .about {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2px;
        width: 150px;
        border-radius: 10px;
        text-align: center;
        margin: 10px;
        color: $light-color;
        &:hover {
          background-color: rgb(57, 72, 103, 0.8);
          cursor: pointer;
        }
      }
    }
  }
}
