.header-section {
  height: auto;
  width: 100%;
  border-bottom: 1px solid $primary-color;
  background-color: $light-color;
  display: grid;
  grid-template-columns: 70% 30%;
  top: 0px;
  position: absolute;

  .name-role-container {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .under {
      font-size: $title-text-size;
      font-weight: 800;
      color: $primary-color;
      top: 10px;
      animation: under-blink 0.5s;
      animation-iteration-count: 4;
      opacity: 0;
    }

    @keyframes under-blink {
      0% {
        opacity: 1;
        background-color: $primary-color;
      }

      100% {
        opacity: 0;
        color: $primary-color;
      }
    }

    .letter {
      font-size: $title-text-size;
      font-weight: 700;
      color: $primary-color;
      position: relative;
      opacity: 0;
      animation: move-text 0.1s forwards;
      height: 50px;
    }

    @keyframes move-text {
      0% {
        opacity: 0;
        background-color: $primary-color;
      }

      50% {
        background-color: $primary-color;
      }

      100% {
        opacity: 1;
        color: $primary-color;
      }
    }
  }
  .hamburger-container {
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }

  .menu-mobile-open {
    padding: 10px;
    font-size: 20px;
  }

  .menu-mobile-open h5:hover {
    cursor: pointer;
  }

  .page-menu-container {
    .page-menu-item {
      display: flex;
      justify-content: center;

      .main,
      .projects,
      .about {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2px;
        width: 150px;
        border-radius: 10px;
        text-align: center;
        margin: 10px;
        &:hover {
          background-color: rgb(57, 72, 103, 0.1);
          cursor: pointer;
        }
      }
    }
  }
}