@import "./resets";
@import "./variables";
@import "./hamburger";

body {
  height: 100%;
}

.start-section {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 800px;
  height: 600px;
  border-bottom: 1px solid $primary-color;
}

.title-menu {
  display: grid;
  width: 100%;
  grid-template-columns: 70% 30%;
  color: $text-color;
  justify-self: flex-start;
  font-size: 22px;
  line-height: 28px;
  height: 80px;

  .name-container {
    background: $primary-color;
    padding: 5px 15px;
    justify-self: flex-start;
    margin-left: 15px;
    display: flex;

    .name-role-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .under {
        font-size: $title-text-size;
        font-weight: 800;
        color: $name-role;
        position: absolute;
        animation: under-blink 0.5s;
        animation-iteration-count: 4;
        opacity: 0;
      }

      @keyframes under-blink {
        0% {
          opacity: 1;
          background-color: $name-role;
        }

        100% {
          opacity: 0;
          color: $name-role;
        }
      }

      .letter {
        font-size: $title-text-size;
        color: $name-role;
        position: relative;
        opacity: 0;
        animation: move-text 0.1s forwards;
        height: 50px;
      }

      @keyframes move-text {
        0% {
          opacity: 0;
          background-color: $name-role;
        }

        50% {
          background-color: $name-role;
        }

        100% {
          opacity: 1;
          color: $name-role;
        }
      }
    }
  }
  .hamburger-container {
    justify-self: flex-end;
    padding: 5px 5px 0px 0px;
  }
}

.menu {
  color: $text-color;
  display: grid;
  grid-template-rows: 230px 230px 230px;
  row-gap: 20px;
  width: 100%;
  justify-items: center;
}

.option,
.social {
  height: 230px;
  width: 230px;
  display: grid;
  grid-template-rows: 70% 30%;
  border-radius: 30px;
  border: 2px solid white;
}

.adjustable,
.bio {
  display: grid;
  justify-self: center;
  align-self: center;
}
// .img {
//   display: grid;
//   justify-self: center;
// }

.option > p,
.social > p {
  font-size: 18px;
  margin: 0px 0px 16px 0px;
  justify-self: center;
}

.option:hover,
.social:hover {
  background-color: #ffffff40;
  cursor: pointer;
}

.bio {
  padding-left: 10px;
}

// .social {
//   height: 240px;
//   width: 240px;
//   border-radius: 30px;
// }
// .social:hover  {
//   background-color: #ffffff40;
//   cursor: pointer;
// }




.footer, .projects {
  height: 600px;
  width: 100%;
  border-bottom: 1px solid $primary-color;
}

.menu-mobile-open {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: black;
  opacity: 93%;
  top: 80px;
  padding: 20px 20px;
}

.mobile-menu-item {
  color: $name-role;
}

@media only screen and (min-width: 770px) {
  .title-menu {
    grid-template-columns: 420px repeat(4, 1fr);
    .name-container {
      .name-role-container {
        flex-direction: row;
        align-items: center;

        .role {
          padding-left: 10px;
        }
      }
    }

    .hamburger-container {
      display: none;
    }
  }
}
