body,
html {
  height: 100%;
  margin: 0;
  font-family: Source Code Pro;
}

.start-section {
  margin: 0;
  background: url("../../src/assets/home_background_mobile2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  display: flex;
  justify-content: center;
}

.title-container {
  display: flex;
  margin: 0;
  justify-content: center;
  color: white;
  font-size: 16px;
  padding: 10px 0px 10px 0px;
}

.name {
  text-align: right;
  padding: 0px 5px 0px 22px;
  border-right: 2px solid white;
}

.title {
  padding-left: 5px;
}

.menu {
  height: 800px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  justify-content: flex-start;
  gap: 20px;
}

.option,
.social {
  height: 225px;
  width: 225px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  border: 2px solid white;
}

.option > p,
.social > p {
  font-size: 18px;
  margin: 16px 0px;
}
.social {
  justify-content: space-between;
}

.option:hover,
.social:hover {
  background-color: #ffffff40;
  cursor: pointer;
}

.bio {
  padding-left: 10px;
}

// .social {
//   height: 240px;
//   width: 240px;
//   border-radius: 30px;
// }
// .social:hover  {
//   background-color: #ffffff40;
//   cursor: pointer;
// }

.footer {
  height: 100px;
  width: 100%;
}

// @media {

// }
