* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Quicksand;
}

.hamburger-btn {
  height: 50px;
  width: 50px;
  background: transparent;
  margin: 5px;
  display: flex;
  justify-content: center;
}

.hamburger-icon-closed {
  position: relative;
  height: auto;
  width: 27px;
  display: inline-block;
  cursor: pointer;
  margin-top: 14px;
}
.hamburger-icon-closed span {
  position: absolute;
  background-color: #e4f1fe;
  width: 100%;
  height: 3px;
  border-radius: 5px;
}
.hamburger-icon-closed span:nth-child(1) {
  top: 4px;
}
.hamburger-icon-closed span:nth-child(2) {
  top: 17px;
}

.hamburger-icon-open {
  position: relative;
  height: auto;
  width: 25px;
  display: inline-block;
  cursor: pointer;
  margin-top: 14px;
}
.hamburger-icon-open span {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 3px;
  border-radius: 5px;
}
.hamburger-icon-open span:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
}
.hamburger-icon-open span:nth-child(2) {
  top: 10px;
  transform: rotate(-45deg);
}

body {
  height: 100%;
}

.start-section {
  background: #22313f;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 800px;
  height: 600px;
}

.title-menu {
  display: grid;
  width: 100%;
  grid-template-columns: 70% 30%;
  color: #8dc6ff;
  justify-self: flex-start;
  font-size: 22px;
  padding: 10px 0px 10px 0px;
  line-height: 28px;
}
.title-menu .name-container {
  padding: 12px 0px 0px 5px;
  justify-self: flex-start;
  margin-left: 15px;
  display: flex;
}
.title-menu .name-container .name-role-container {
  display: flex;
  flex-direction: column;
}
.title-menu .name-container .name-role-container .under {
  font-size: 24px;
  font-weight: 800;
  color: #cb3216;
  position: absolute;
  animation: under-blink 0.5s;
  animation-iteration-count: 4;
  opacity: 0;
}
@keyframes under-blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.title-menu .name-container .name-role-container .letter {
  font-size: 24px;
  color: #cb3216;
  position: relative;
  opacity: 0;
  animation: move-text 0.1s forwards;
  height: 50px;
}
@keyframes move-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #cb3126;
  }
}
.title-menu .hamburger-container {
  justify-self: flex-end;
  padding: 5px 5px 0px 0px;
}

.menu {
  color: #8dc6ff;
  display: grid;
  grid-template-rows: 230px 230px 230px;
  row-gap: 20px;
  width: 100%;
  justify-items: center;
}

.option,
.social {
  height: 230px;
  width: 230px;
  display: grid;
  grid-template-rows: 70% 30%;
  border-radius: 30px;
  border: 2px solid white;
}

.adjustable,
.bio {
  display: grid;
  justify-self: center;
  align-self: center;
}

.option > p,
.social > p {
  font-size: 18px;
  margin: 0px 0px 16px 0px;
  justify-self: center;
}

.option:hover,
.social:hover {
  background-color: rgba(255, 255, 255, 0.2509803922);
  cursor: pointer;
}

.bio {
  padding-left: 10px;
}

.footer {
  height: 100px;
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
