.about-section {
  padding: 75px;
  display: grid;
  grid-template-rows: 50px 500px;
  gap: 5px;

  .about-heading-container {
    border: 1px dashed blue;
  }

  .text-form-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
  }

  .form-container {
    padding: 15px 15px 15px 30px;

    .about-form {
      display: grid;
      grid-auto-flow: row;
      gap: 5px;
      padding-top: 20px;
      font-weight: 500;
      color: $light-color;
      font-size: 18px;
      

      .name-error,
      .email-error,
      .message-error {
        h5 {
          margin: 0;
          height: 20px;
          color: #d8000c;
          background: $light-color;
          width: 50%
        }
      }
    }

    .input-name,
    .input-email {
      margin-left: 10px;
      border: 1px solid $secondary-color;
      font-size: 16px;
      font-family: "quicksand";
      background: $light-color;
    }

    .message-container {
      height: 200px;
    }
    .message-label {
      display: grid;
      gap: 5px;

      textarea {
        height: 150px;
        width: 300px;
        padding: 10px;
        border: 1px solid $secondary-color;
        font-size: 16px;
        font-family: "quicksand";
        background-color: $light-color;
        font-weight: 500;
      }
    }
  }
}
