.about-section {
  padding: 20px 5px 5px 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  gap: 5px;

  .about-form {
    display: grid;
    grid-template-rows: 50px 50px 180px 80px;
    gap: 10px;
    padding: 30px 10px;
    color: $light-color;
    box-sizing: border-box;
    height: 500px;
    min-width: 300px;
    background-color: $secondary-colour;
    margin: auto;
    border-radius: 20px;

    .form-name, .form-email {
      align-self: center;
    }

    .name-error,
    .email-error,
    .message-error {
      h5 {
        margin: 0;
        color: #d8000c;
        background: $light-color;
        width: 50%;
      }
    }
  }

  .input-name,
  .input-email {
    margin-left: 10px;
    height: 25px;
    border: 1px solid $secondary-colour;
    font-size: 16px;
    background: $light-color;
  }


  
  .message-container {
    height: 200px;
  }
  .message-label {
    display: grid;
    gap: 5px;

    textarea {
      height: 150px;
      width: 100%;
      padding: 10px;
      border: 1px solid $secondary-colour;
      font-size: 16px;
      font-family: "quicksand";
      background-color: $light-color;
      font-weight: 500;
    }
  }

  .information {
    border: 1px solid red;
    border-radius: 20px;
    padding: 20px;
  }
}

@media only screen and (max-width: 770px) {
  .about-section {
    display: grid;
    grid-template-columns: 1fr;
    .intro-name,
    .picture-social {
      background-color: $background-colour;
    }
  }
}