button {
    width: 100px;
    height: 38px;
    border-radius: 8px;
    background-color: $secondary-color;
    color: $light-color;
    font-family: "quicksand";
    font-size: 1rem;
    cursor: pointer;
}