
.hamburger-btn {
  height: 40px;
  width: 40px;
  background: transparent;
  margin: 5px;
  display: flex;
  justify-content: center;
  justify-self: end;
}
.hamburger-icon-closed {
  position: relative;
  height: auto;
  width: 23px;
  display: inline-block;
  cursor: pointer;
  margin-top: 10px;
  span {
    position: absolute;
    background-color: $light-color;
    width: 100%;
    height: 2px;
    border-radius: 5px;
  }
  
  span:nth-child(2) {
    top: 8px;
  }
  span:nth-child(3) {
    top: 16px;
  }
}

.hamburger-icon-open {
  position: relative;
  height: auto;
  width: 25px;
  display: inline-block;
  cursor: pointer;
  margin-top: 10px;

  span {
    position: absolute;
    background-color: #f0f4ef;
    width: 100%;
    height: 3px;
    border-radius: 5px;
  }
  span:nth-child(1) {
    top: 10px;
    transform: rotate(45deg);
  }
  span:nth-child(2) {
    top: 10px;
    transform: rotate(-45deg);
  }
  span:nth-child(3) {
    display: none;
  }
}
