.header-section {
  height: auto;
  width: 100%;
  color: $light-color;
  display: grid;
  grid-template-columns: 70% 30%;
  top: 0px;
  position: absolute;

  .name-role-container {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .under {
      font-size: $title-text-size;
      font-weight: 800;
      color: $light-color;
      top: 10px;
      animation: under-blink 0.5s;
      animation-iteration-count: 4;
      opacity: 0;
    }

    @keyframes under-blink {
      0% {
        opacity: 1;
        background-color: $light-color;
      }

      100% {
        opacity: 0;
        color: $light-color;
      }
    }

    .letter,
    .letter-role {
      font-size: $title-text-size;
      font-weight: 700;
      color: $light-color;
      position: relative;
      opacity: 0;
      animation: move-text 0.1s forwards;
      font-family: "Bungee";
      display: inline-block;
      line-height: 30px;
    }

    .letter-role {
      font-family: "Bungee Hairline";
    }

    @keyframes move-text {
      0% {
        opacity: 0;
        background-color: $light-color;
      }

      50% {
        background-color: $light-color;
      }

      100% {
        opacity: 1;
        color: $light-color;
      }
    }
  }
  .hamburger-container {
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }

  .page-menu-container {
    display: flex;

    .page-menu-item {
      display: flex;
      justify-content: center;
      align-self: center;
      height: 80%;

      .home,
      .projects,
      .about {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2px;
        width: 150px;
        border-radius: 15px;
        text-align: center;
        color: $light-color;
        background: $secondary-transparent;
        transition: background 1s;
        transition: color 0.1s;
        margin: 0;

        &:hover {
          cursor: pointer;
          color: $primary-color-hover;
          background: $hover-color;

          // box-shadow: 2px 2px 3px 1px white, -2px 2px 3px white, 2px -2px 3px white, -2px -2px 3px white;
        }
      }
    }
  }
}

.menu-mobile-open {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  color: $light-color;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: space-around;
  background: $light-color;
  border-radius: 10px;
  color: $primary-color;
}

.menu-mobile-open h5:hover {
  cursor: pointer;
}
