.name-role-container {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .under {
      font-size: $title-text-size;
      font-weight: 800;
      color: $light-color;
      top: 10px;
      animation: under-blink 0.5s;
      animation-iteration-count: 4;
      opacity: 0;
    }

    @keyframes under-blink {
      0% {
        opacity: 1;
        background-color: $light-color;
      }

      100% {
        opacity: 0;
        color: $light-color;
      }
    }

    .letter,
    .letter-role {
      font-size: $title-text-size;
      font-weight: 700;
      color: $light-color;
      position: relative;
      opacity: 0;
      animation: move-text 0.1s forwards;
      font-family: "Bungee";
      display: inline-block;
      line-height: 30px;
    }

    .letter-role {
      font-family: "Bungee Hairline";
    }

    @keyframes move-text {
      0% {
        opacity: 0;
        background-color: $light-color;
      }

      50% {
        background-color: $light-color;
      }

      100% {
        opacity: 1;
        color: $light-color;
      }
    }
  }