$primary-color:#212A3E ;
// rgb(33, 42, 62)
$secondary-color: #394867;
$secondary-transparent: #FF6766;
// rgb(57, 72, 103)
$hover-color: #9BA4B5;
$text-color:#8dc6ff;
$light-color: #F1F6F9;
$name-role: #e4f1fe;
$title-text-size: 27px;