@import "./_variables";
@import "./_hamburger";
@import "./_header.scss";
@import "./_about.scss";
@import "./_buttons.scss";
@import "./_projects.scss";
@import "./_name.scss";
@import "./_not-found.scss";

body {
  height: 100%;
  font-family: "quicksand";
  margin: 0;
}

.home-section,
.about-section,
.projects-section {
  margin-top: 120px;
  height: 650px;
  h3 {
    margin: 0;
  }
}

.home-section {
  color: $light-color;
}


