@import "./_variables";
@import "./_hamburger";
@import "./_header.scss";
@import "./_about.scss";
@import "./_buttons.scss";
@import "./_projects.scss";
@import "./_name.scss";
@import "./_not-found.scss";
@import "./home.scss";
@import "./footer.scss";

// * {
//   border: 1px solid red;
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 7vh;
}
